/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --main-backgroundg-color: rgba(255, 241, 247, 1);
  --background-image: url(../images/cover-image-light.png);
  --main-text-color: rgba(53, 52, 48, 1);
  --nav-color: rgba(53, 52, 48, 1);
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --main-heading-color: rgba(53, 52, 48, 1);
  --section-heading-color: rgba(53, 52, 48, 1);
  --header-title-color: rgba(255, 194, 230, 1);
  --footer-title-color: rgba(255, 194, 230, 1);
}

.theme-light .header-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: rgba(255, 141, 203, 1);
  --main-backgroundg-color: rgba(255, 241, 247, 1);
  --background-image: url(../images/cover-image-light.png);
  --main-text-color: rgba(53, 52, 48, 1);
  --nav-color: rgba(53, 52, 48, 1);
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --main-heading-color: rgba(53, 52, 48, 1);
  --section-heading-color: rgba(53, 52, 48, 1);
  --header-title-color: rgba(255, 194, 230, 1);
  --footer-title-color: rgba(255, 194, 230, 1);
  }

  .header-rec {
  display: none;
  }
}