.page {
  
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  font-family: var(--main-font-family);
  background-color: var(--main-backgroundg-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-items: center;
}

.header-rec {
  position: absolute;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  inset-inline-end: 38px;
  inset-block-start: 10px;

  @media (width >= 768px) {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }
}

.header-rec::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-top: 8px;
  margin-left: 8px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  box-shadow: 1px -1px 0px 0px var(--section-heading-color);

  @media (width >= 768px) {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  box-shadow: -1px 1px 0px 0px var(--section-heading-color);

  @media (width >= 768px) {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu {
  padding-right: 10px;
  align-self: flex-end;
  justify-self: end;
  margin-block-start: 75px;

  @media (width >= 768px) {
    padding-right: 20px;
    margin-block-start: 35px;
  }

  @media (width >= 1024px) {
    align-self: start;
    justify-self: center;
    margin-block-start: 20px;
    padding-right: 0px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media (width >= 1024px) {
    flex-direction: row;
    gap: 10px;
  }
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--nav-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--nav-color);
}

.header-logo {
  height: auto;
  margin-top: 66px;
  margin-left: 10px;
  margin-right: 10px;

  @media (width >= 768px) {
    margin-left: 0px;
    margin-top: 96px;
  }

  @media (width >= 1024px) {
    margin-top: 180px;
  }
}

.header-title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-align: start;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);

  @media (width >= 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header-text-block-container {
  display: flex;
  justify-content: start;

  @media (width >= 768px) {
    justify-content: end;
  }
}

.header-text-block {
  width: 100%;
  max-width: 355px;
  margin: 55px 10px 66px 10px;
  background-color: var(--accent-color);
  color: var(--main-heading-color);

  @media (width >= 768px) {
    margin: 5px 20px 105px 0px;
    max-width: 364px;
  }

  @media (width >= 1024px) {
    max-width: 491px;
    margin-top: 50px;
  }
}

.header-text {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 23.4px;
  text-align: start;
  color: var(--main-heading-color);
}

.content {
  display: grid;
  gap: 49px;
  padding: 10px;

  @media (width >= 768px) {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    gap: 80px;
  }
}

.content-section {
  font-style: normal;
  line-height: 23.4px;


  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

   @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.content-section-title {
  color: var(--section-heading-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  margin-bottom: 20px;
}

.text-blocks {
  display: grid;
  gap: 20px;

  @media (width >= 1024px) {
    grid-column: span 2;
  }
}

.text-block {
  display: grid;
  gap: 10px;
  align-content: start;
}

.text-block-title {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
}

.text-block-title {
  font-weight: 700;
}

.text-block-subtitle {
  font-weight: 400;
  margin-top: 10px;
}

.text-block-content {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
}

.why {
  margin-top: 30px;
}

.causes {
  .content-section-title {
    grid-column: 1/ -1;

    @media (width >= 768px) {
      max-width: 236px;
    }

    @media (width >= 1024px) {
      max-width: 315px;
    }
  }

  .text-blocks {
    grid-column: 1/ -1;

    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.text-block-list {
  display: grid;
  gap: 10px;
}

.text-block-link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.text-block-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text-block-link:focus {
  outline: none;
}

.text-block-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.images-blocks {
  margin-bottom: 32px;

  @media (width >= 768px) {
    margin-bottom: 50px;
  }
}

.image-block-list {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.image-item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

@media (width >= 768px) {
  .image-block-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-top: 20px;
  }

  .image-block:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
            
  .image-block:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
            
  .image-block:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
            
  .image-block:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
            
  .image-block:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.footer {
  height: 100vh;
  min-height: 667px;
  display: grid;
  align-items: center;
  padding-left: 14px;
  padding-right: 13px;
}

.footer-text {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-align: center;

  @media (width >= 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--nav-color)
}
