/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --main-backgroundg-color: rgba(0, 0, 40, 1);
  --main-font-family: 'IBM Plex Mono', monospace;
  --accent-color: rgba(255, 0, 112, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --nav-color: rgba(255, 0, 112, 1);
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --main-heading-color: rgba(0, 0, 40, 1);
  --section-heading-color: rgba(255, 0, 112, 1);
  --main-text-size: 18px;
  --header-title-color: rgba(219, 0, 255, 1);
  --footer-title-color: rgba(219, 0, 255, 1);
}
